{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <div class="avitar">
            <img alt="Stephen Nancekivell" src="/assets/profile_small.webp" />
          </div>
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
